<!DOCTYPE html>
<html>
<head>
</head>
<body>
<!--/*  多个碎片定义在同一文件夹 */-->
<div th:fragment="footer" class="page-footer">
    <div class="page-footer-inner">
        &copy; 2014 WangRong.
    </div>
    <div class="page-footer-tools">
		<span class="go-top">
		<i class="fa fa-angle-up"></i>
		</span>
    </div>
</div>
<div th:fragment="footer-admin" class="page-footer">
    <div class="page-footer-inner">
        &copy; 2014 WangRong Admin.
    </div>
    <div class="page-footer-tools">
		<span class="go-top">
		<i class="fa fa-angle-up"></i>
		</span>
    </div>
</div>
</body>
</html>

