<!DOCTYPE html>
<html>

<head>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js"></script>
</head>
<body>
<!-- BEGIN PAGE TITLE-->
<div class="row"  th:fragment="title">
    <div class="col-md-12">
        <h3 class="page-title"> 网站标题 <small>网站子标题</small> </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li class="btn-group">
                <button type="button" class="btn blue dropdown-toggle" data-toggle="dropdown"
                        data-hover="dropdown" data-delay="1000" data-close-others="true"> <span> 更多 </span> <i class="fa fa-angle-down"></i> </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li> <a href="#"> 动作一 </a> </li>
                    <li> <a href="#"> 动作二 </a> </li>
                    <li class="divider"> </li>
                    <li> <a href="#"> 其他 </a> </li>
                </ul>
            </li>
            <li> <i class="fa fa-home"></i> <a href="/"> 主页 </a> <i class="fa fa-angle-right"></i> </li>
            <li> <a href="#"> 标题 </a> <i class="fa fa-angle-right"></i> </li>
            <li> <a href="#"> 子标题 </a> </li>
        </ul>
    </div>
</div>
<!-- END PAGE TITLE-->
</body>
</html>